/.vs/*
**/*.suo
**/*.user
**/*.bak
**/*.orig
**/UpgradeLog.htm
**/bin/*
**/obj/*
**/App_Data/Logs/*
**/ElmahLogs/*
Logs
/src/AfrikaConnect.SDGPlatform.Web.Host/web.config
/src/AfrikaConnect.SDGPlatform.Web.Host/AfrikaConnect.SDGPlatform.Web.Core.xml
/sh.exe.stackdump


